body {
  /* размеры */
  width: 75vw;
  
  /* выравнивание по центру*/
  margin-inline: auto;
  margin-block-start: 50vh;
  transform: translateY(-50%);
}



* {
	/* цвета  */
	background-color: #212529;
	color: #f8f9fa;

	/* шрифт  */
	font-family: Montserrat;

	/*внешние отступы*/
	margin: 0;
}