h2 {
  /* размер шрифта */
  font-size: 4em;
}

label, input, button, p, a {
  /* размер шрифта */
  font-size: 2em;
}

input {
  /* размер: высота */
  height: 2em;

  /* скругление */
  border-radius: 1em;
}

button {
  /* размер: высота */
  height: 2.5em;
}

/* наведение на кнопку */
button:hover {
  /* прозрачность */
  opacity: 0.8;
}

/* клик */
button:active {
  /* уменьшение размера */
  transform: scale(0.95);
}

input {
  border: solid #f8f9fa;
}



.menu-button {
  /* размеры */
  width: 75px;
  height: 75px;

  /* обводка */
  border: none;

  /* картинка занимает весь размер кнопки */
  background-size: cover;

  /* изображение */
  background-image: url('../ico/main_screen/menu_button.png');
}



.top_part, .left_side, .right_side, .bottom_side, .bottom_part_png, .bottom_part_buttons {
  /* базовые настройки флекс-контейнера */
  display: flex;

  /* нижний отступ*/
  margin-bottom: 1em;
}

.left_side, .right_side, .bottom_side, .bottom_part_buttons{
  /* базовые настройки флекс-контейнера */
  flex-direction: column;
}

.top_part, .bottom_part_png {
  /* базовые настройки флекс-контейнера */
  flex-direction: row;

  /* выравнивание */
  justify-content: space-between;
}

.bottom_part_buttons{
  /* отступы между элементов*/
  gap: 1em;
}

.bottom_part_buttons > button {
  /* цвета  */
  background-color: #f8f9fa;
  color: #212529;

  /* скругление */
  border-radius: 2em;
}

.right_side{
  /* выравнивание */
  text-align: right;

  /* выравнивание по перечной оси*/
  align-items: flex-end;
}

.right_side > button {
  /* размеры */
  flex-basis: 96px;
}


.bottom_part_png {
  /* размеры */
  height: 50vh;

  /* цвета  */
  background-color: #f8f9fa;

  /* обводка */
  border: none;

  /* картинка занимает весь размер кнопки */
  background-size: cover;

  /* изображение */
  background-image: url('../img/ford_fusion.jpg');

  /* скругление */
  border-radius: 25%;
}