h1 {
  /* выравнивание */
  text-align: center;
  /* размер шрифта */
  font-size: 4em;
}

label, input, button, p, a {
  /* размер шрифта */
  font-size: 2em;
}



.registration_form, .to_authorization, .services{
  /* базовые настройки флекс-контейнера */
  display: flex;
}

.registration_form {
  /* базовые настройки флекс-контейнера */
  flex-direction: column;
}

.to_authorization, .services {
  /* базовые настройки флекс-контейнера */
  flex-direction: row;
  /* выравнивание */
  justify-content: center;
}



.yandex-button, .google-button, .apple-button, .telegram-button {
  /* размеры */
  width: 75px;
  height: 75px;
  /* обводка */
  border: none;
  /* картинка занимает весь размер кнопки */
  background-size: cover;
}

.yandex-button{
  /* изображение */
  background-image: url('../ico/services/yandex.png');
}

.google-button{
  /* изображение */
  background-image: url('../ico/services/google.png');
}

.apple-button{
  /* изображение */
  background-image: url('../ico/services/apple.png');
}

.telegram-button{
  /* изображение */
  background-image: url('../ico/services/telegram.png');
}