h1 {
  /* выравнивание */
  text-align: center;

  /* размер шрифта */
  font-size: 4em;

  /* нижний отступ*/
  margin-bottom: 0.5em;
}

label, input, button, p, a {
  /* размер шрифта */
  font-size: 2em;
}

input {
  /* размер: высота */
  height: 2em;

  /* скругление */
  border-radius: 1em;
}

button {
  /* размер: высота */
  height: 2.5em;

  /* скругление */
  border-radius: 2em;
}

/* наведение на кнопку */
button:hover {
  /* прозрачность */
  opacity: 0.8;
}

/* клик */
button:active {
  /* уменьшение размера */
  transform: scale(0.95);
}

input {
  border: solid #f8f9fa;
}



.registration_form, .to_authorization, .services{
  /* базовые настройки флекс-контейнера */
  display: flex;

  /* нижний отступ*/
  margin-bottom: 1em;
}

.registration_form {
  /* базовые настройки флекс-контейнера */
  flex-direction: column;
}

.to_authorization, .services {
  /* базовые настройки флекс-контейнера */
  flex-direction: row;

  /* выравнивание */
  justify-content: center;
}

.registration_form > button {
  /* цвета  */
  background-color: #f8f9fa;
  color: #212529;
}

.registration_form, .services{
  /* отступы между элементов*/
  gap: 1em;
}

.to_authorization {
  /* отступы между элементов*/
  gap: 1ch;
}



.yandex-button, .google-button, .apple-button, .telegram-button {
  /* размеры */
  width: 75px;
  height: 75px;

  /* обводка */
  border: none;

  /* картинка занимает весь размер кнопки */
  background-size: cover;
}

.yandex-button{
  /* изображение */
  background-image: url('../ico/services/yandex.png');
}

.google-button{
  /* изображение */
  background-image: url('../ico/services/google.png');
}

.apple-button{
  /* изображение */
  background-image: url('../ico/services/apple.png');
}

.telegram-button{
  /* изображение */
  background-image: url('../ico/services/telegram.png');
}